<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/23395927b9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/allAccounts.css" />
</head>
<body>

  <%- include('partials/header') %>

  <main>
    <section class="organization-and-categories">
      <!-- <h2>Lighthouse Labs</h2> -->
      <h2><%= organizations %></h2>

      <div class="btn-flex-container">

        <button id="all-accounts-btn">All accounts</button>
        <button id="add-new-account-btn">Add New Account</button>
      </div>
    </section>

    <section class="all-accounts">
      <h2>Available Accounts</h2>
      <div class="all-accounts-container">

        <% accounts.forEach(account => { %>
        <div class="account">
          <h3 class="website"><%= account.website %></h3>
          <p><%= account.username %></p>
          <p><%= account.password %></p>
          <div class="icon-btn-container">
            <button class="copy-btn" data-password="<%= account.password %>"><i class="fa-solid fa-copy"></i></button>
            <button><i class="fa-solid fa-pen-to-square"></i></button>
          </div>
        </div>
      <% }) %>
      </div>



    </section>

    <!-- <section class="allAccounts">
      <div class="account">
        <h3>website1</h3>
        <p>username</p>
        <p>password</p>
        <button>copy</button>
        <button>edit</button>
      </div>

      <div class="account">
        <h3>website2</h3>
        <p>username</p>
        <p>password</p>
        <button>copy</button>
        <button>edit</button>
      </div>

      <div class="account">
        <h3>website3</h3>
        <p>username</p>
        <p>password</p>
        <button>copy</button>
        <button>edit</button>
      </div>

    </section> -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(() => {
        $('#all-accounts-btn').on('click', () => {
          window.location.href = '/allAccounts';
        });
        $('#add-new-account-btn').on('click', () => {
          window.location.href = '/addNewAccount';
        });

        $('.copy-btn').on('click', function() {
      const password = $(this).data('password');
      const tempInput = $('<input>');
      $('body').append(tempInput);
      tempInput.val(password).select();
      document.execCommand('copy');
      tempInput.remove();
    });
      });
    </script>

  </main>

</body>
</html>
