<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/scripts/updateAccount.js"></script>

  <script src="https://kit.fontawesome.com/23395927b9.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/allAccounts.css" />
</head>

<body>

  <%- include('partials/header') %>

    <main class="main-display-all-accounts">
      <section class="organization-and-categories">
        <h2 class="organization-name">
          <%= organizations %>
        </h2>

        <div class="all-or-add-container">
          <button id="all-accounts-btn">View All Accounts</button>
          <button id="add-new-account-btn">Add New Account</button>
        </div>
      </section>

      <section class="all-accounts">
        <h2 class="h2-available-accounts">Available Accounts</h2>
        <div class="all-accounts-container">

          <% accounts.forEach(account=> { %>
            <div class="account">
              <div class="website-value">
                <p class="bold">Website</p>
                <p class="lighter-font">
                  <%= account.website %>
                </p>
              </div>
              <div class="username-value">
                <p class="bold">Username</p>
                <p class="lighter-font">
                  <%= account.username %>
                </p>
              </div>
              <div class="password-value">
                <p class="bold"> Password</p>
                <input type="password" name="password" class="account-password" value="<%= account.password %>">
              </div>

              <div class="edit-form" style="display:none">
                <label for="website">Website:</label>
                <input type="text" name="website" value="<%= account.website %>">
                <label for="username">Username:</label>
                <input type="text" name="username" value="<%= account.username %>">
                <label for="password">Password:</label>
                <input type="text" name="password" class="last" value="<%= account.password %>">
              </div>

              <div class="account-icon-btn-container">
                <button class="copy-btn account-icon-button" title="copy password"
                  data-password="<%= account.password %>"><i class="fa-solid fa-copy"></i></button>
                <button class="edit-btn account-icon-button" title="edit"><i
                    class="fa-solid fa-pen-to-square"></i></button>
                <button class="save-btn account-icon-button" title="save changes" style="display:none"><i
                    class="fa-solid fa-check"></i></button>
                <button class="cancel-btn account-icon-button" title="cancel changes" style="display:none"><i
                    class="fa-solid fa-times"></i></button>
              </div>



            </div>
            <% }) %>
        </div>



      </section>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        $(() => {
          $('#all-accounts-btn').on('click', () => {
            window.location.href = '/allAccounts';
          });
          $('#add-new-account-btn').on('click', () => {
            window.location.href = '/addNewAccount';
          });

          $('.copy-btn').on('click', function () {
            alert('password copied')
            const password = $(this).data('password');
            const tempInput = $('<input>');
            $('body').append(tempInput);
            tempInput.val(password).select();
            document.execCommand('copy');
            tempInput.remove();
          });

          $('.edit-btn').on('click', function () {
            const account = $(this).closest('.account');
            account.find('.website-value').hide();
            account.find('.username-value').hide();
            account.find('.password-value').hide();
            account.find('.edit-form').show();
            account.find('.save-btn').show();
            account.find('.cancel-btn').show();
          });

          $('.save-btn').on('click', function () {
            const account = $(this).closest('.account');
            const form = account.find('.edit-form');
            const website = form.find('input[name="website"]').val();
            const username = form.find('input[name="username"]').val();
            const password = form.find('input[name="password"]').val();
            account.find('.website-value h3').text(website);
            account.find('.username-value p').text(username);
            account.find('.password-value p').text(password);
            account.find('.website-value').show();
            account.find('.username-value').show();
            account.find('.password-value').show();
            form.hide();
            account.find('.save-btn').hide();
            account.find('.cancel-btn').hide();
          });

          $('.cancel-btn').on('click', function () {
            const account = $(this).closest('.account');
            account.find('.website-value').show();
            account.find('.username-value').show();
            account.find('.password-value').show();
            account.find('.edit-form').hide();
            account.find('.save-btn').hide();
            account.find('.cancel-btn').hide();
          });

        });
      </script>

    </main>

</body>

</html>
